footer.footer
	.wrapper
		.footer-cont
			.footer-el
				.soc 
					a(href="").soc__link
						img(src="img/ico-vk.svg", alt="")
					a(href="").soc__link
						img(src="img/ico-fb.svg", alt="")
					a(href="").soc__link
						img(src="img/ico-inst.svg", alt="")
					a(href="").soc__link
						img(src="img/ico-tw.svg", alt="")
					a(href="").soc__link
						img(src="img/ico-google.svg", alt="")
					a(href="").soc__link
						img(src="img/ico-ok.svg", alt="")
				.footer-menu
					.footer-menu__item
						a(href="#").footer-menu__link О компании
					.footer-menu__item.active
						a(href="#").footer-menu__link Новости
					.footer-menu__item
						a(href="#").footer-menu__link Акции
					.footer-menu__item
						a(href="#").footer-menu__link Фотогалерея
					.footer-menu__item
						a(href="#").footer-menu__link Контакты
			.footer-phone
				.tel-selected 
					a(href="tel:+70000000000") +7 (000) 000-00-00
				.tel-selects-wr
					.tel-selects
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01
						a(href="tel:+70000000000") +7 (000) 000-00-01

			.footer-el
				.footer-el--left
					.email
						a(href="mailto: contact@site.com") contact@site.com
					.footer-select
						select.footer-select__select
							option(value="0" selected)  г. Челябинск, ул, Воровского,  61Б
							option(value="1")  г. Челябинск, ул, Воровского,  61Б
							option(value="2")  г. Челябинск, ул, Молодогвардейцев,  61Б
							option(value="3")  г. Челябинск, ул, 32 годовщины октября ,  61Б
							option(value="30")  г. Челябинск, ул, Воровского,  61Б
							option(value="31")  г. Челябинск, ул, Воровского,  61Б
							option(value="32")  г. Челябинск, ул, Молодогвардейцев,  61Б
							option(value="33")  г. Челябинск, ул, 32 годовщины октября ,  61Б
				.footer-el--right
					a(href="#").btn Заказать звонок


			.footer-el
				.footer-el--left
					.copy © 2018 Корпоративный сайт<br> Все права защищены.
					a(href="#").politics Политика конфиденциальности
				.footer-el--right
					a.dev(href="http://xpage.ru" target="_blank")
						span Сделано в
						.dev__img
							img(src="img/ico-dev.svg", alt="")







