header.head
	.head-top
		.wrapper
			.head-top-cont
				.head-address
					.head-select
						select.head-select__select
							option(value="0" selected)  г. Челябинск, ул, Воровского,  61Б
							option(value="1")  г. Челябинск, ул, Воровского,  61Б
							option(value="2")  г. Челябинск, ул, Молодогвардейцев,  61Б
							option(value="3")  г. Челябинск, ул, 32 годовщины октября ,  61Б
							option(value="10")  г. Челябинск, ул, Воровского,  61Б
							option(value="11")  г. Челябинск, ул, Воровского,  61Б
							option(value="12")  г. Челябинск, ул, Молодогвардейцев,  61Б
							option(value="13")  г. Челябинск, ул, 32 годовщины октября ,  61Б
					
				.head-city
					.head-select
						select.head-select__select
							option(value="4" selected)  Челябинск
							option(value="5")  Москва
							option(value="6")  Магнитогорск
							option(value="7")  Санкт-Петербург
							option(value="8")  Петропавловск-Камчатский
							option(value="24")  Челябинск
							option(value="25")  Москва
							option(value="26")  Магнитогорск
							option(value="27")  Санкт-Петербург
							option(value="28")  Петропавловск-Камчатский
				.head-phone
					.tel-selected 
						a(href="tel:+70000000000") +7 (000) 000-00-00
					.tel-selects-wr
						.tel-selects
							a(href="tel:+70000000000") +7 (000) 000-00-01
							a(href="tel:+70000000000") +7 (000) 000-00-01
							a(href="tel:+70000000000") +7 (000) 000-00-01
							a(href="tel:+70000000000") +7 (000) 000-00-01
							a(href="tel:+70000000000") +7 (000) 000-00-01
							a(href="tel:+70000000000") +7 (000) 000-00-01
						
				.head-link
					a(href="#form").fancybox.btn Заказать звонок
	.head-bot
		.wrapper 
			.head-bot-cont
				.main-logo
					.logo-main
						a(href="/")
							img(src="img/logo.png", alt="")
					.logo-inner
						a(href="/")
							img(src="img/logo-inner.png", alt="")
				.main-menu
					nav.nav
						ul.nav__list
							li.nav__item
								a(href="#").nav__link.active О компании
							li.nav__item
								a(href="#").nav__link Услуги
								ul 
									li
										a(href="#") Отделочные работы
									li
										a(href="#") Проектирование зданий
									li
										a(href="#") Строительство

							li.nav__item.active
								a(href="#").nav__link Новости
							li.nav__item
								a(href="#").nav__link Акции
							li.nav__item
								a(href="#").nav__link Фотогалерея
							li.nav__item
								a(href="#").nav__link Контакты
				.burger
					span


		

	

		
