header.head
	.head-top
		.wrapper
			.head-top-cont
				.head-address
					.head-select
						select.head-select__select
							option(value="0" selected)  г. Челябинск, ул. Красная, д.4 оф.202
							option(value="1")  г. Челябинск, ул, Воровского,  61Б
							option(value="2")  г. Челябинск, ул, Молодогвардейцев,  61Б
							option(value="3")  г. Челябинск, ул, 32 годовщины октября ,  61Б
							option(value="10")  г. Челябинск, ул, Воровского,  61Б
							option(value="11")  г. Челябинск, ул, Воровского,  61Б
							option(value="12")  г. Челябинск, ул, Молодогвардейцев,  61Б
							option(value="13")  г. Челябинск, ул, 32 годовщины октября ,  61Б
					
				
				.head-phone
					.tel-selected 
						a(href="tel:+70000000000") +7 (351) 266-36-41
					.tel-selects-wr
						.tel-selects
							a(href="tel:+70000000000") +7 (351) 266-36-41
							a(href="tel:+70000000000") +7 (351) 266-36-41
							a(href="tel:+70000000000") +7 (351) 266-36-41
							a(href="tel:+70000000000") +7 (351) 266-36-41
							a(href="tel:+70000000000") +7 (351) 266-36-41
							a(href="tel:+70000000000") +7 (351) 266-36-41
						
				.head-link
					a(href="#form").fancybox.btn Заказать звонок
	.head-bot
		.wrapper 
			.head-bot-cont
				.main-logo
					.logo-main
						a(href="/")
							img(src="img/logo.png", alt="")
					.logo-inner
						a(href="/")
							img(src="img/logo-inner.png", alt="")
				.main-menu
					nav.nav
						ul.nav__list
							li.nav__item
								a(href="#").nav__link.active Каталог 
								ul 
									li
										a(href="#") Труба
									li
										a(href="#") Труба
									li
										a(href="#") Труба
							li.nav__item
								a(href="#").nav__link Tовары в наличии 

							li.nav__item.active
								a(href="#").nav__link Услуги
							li.nav__item
								a(href="#").nav__link Сертификаты
							li.nav__item
								a(href="#").nav__link О компании
							li.nav__item
								a(href="#").nav__link Контакты
				.burger
					span


		

	

		
