.sort
	.sort__select-cont
		label.sort__select-label Сортировать по: 
		select.sort__select
			option(value="") По цене
			option(value="") По цене
			option(value="") По цене
			option(value="") По цене
	.sort__select-cont
		label.sort__select-label Показывать по: 
		select.sort__select
			option(value="") 20 шт
			option(value="") 20 шт
			option(value="") 20 шт
			option(value="") 20 шт
	.sort__view
		.view
			a.view__list(href="#")
			a.view__plate.active(href="#")