<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Каталог ур.2 v1
		include inc/head.pug
		include inc/css.pug
	body.inner
		.mobile-menu
		#page-wr
			include inc/header.pug
			#content

				.cart-cont
					.cart-small-cont
						.cart-small(data-count="2")

				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#" title="Главная") Главная
									span.bread-crumbs__this(href="#") Каталог
							.title-block__title
								h1 Каталог

				.wrapper
					include inc/filter.pug

					.catalog-two-v-1
						.catalog-list
							- for (var i = 0; i < 9; i++)
								a(href="#").catalog__item
									figure.catalog__item-img
										img(src="img/photos/img-slide-4-1.jpg")
										.ico-sale Sale
									.catalog__item-info 
										.catalog__info-title Дом на озере Аргази
										.catalog__info-dop Кресло, Гранн, Бумстад белый/дерево
										.catalog__info-price 23 700 Р
										.catalog__info-price--sale 23 700 Р
										.catalog__info-btn.ico-cart

						include inc/paginator.pug
						

					
					



			include inc/footer.pug
		include inc/scripts.pug
