<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Идеальный сайт
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/common.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/logo.png")
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						//- li
						//- 	a(target="_blank" href="catalog-level-1-v1.html") Каталог (товары) ур.1 v1
						//- li
						//- 	a(target="_blank" href="catalog-level-1-v2.html") Каталог (товары) ур.1 v2
						//- li
						//- 	a(target="_blank" href="catalog-level-1-v3.html") Каталог (товары) ур.1 v3
						//- li
						//- 	a(target="_blank" href="catalog-level-1-v4.html") Каталог (товары) ур.1 v4
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v1.html") Каталог (товары) ур.2 v1
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v2.html") Каталог (товары) ур.2 v2
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v3.html") Каталог (товары) ур.2 v3
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v4.html") Каталог (товары) ур.2 v4
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v5.html") Каталог (товары) ур.2 v5
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v6.html") Каталог (товары) ур.2 v6
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v7.html") Каталог (товары) ур.2 v7
						//- li
						//- 	a(target="_blank" href="catalog-level-2-v8.html") Каталог (товары) ур.2 v8
						//- li
						//- 	a(target="_blank" href="catalog-s-level-1-v1.html") Каталог (услуги) ур.1 v1
						//- li
						//- 	a(target="_blank" href="catalog-s-level-1-v2.html") Каталог (услуги) ур.1 v2
						//- li
						//- 	a(target="_blank" href="catalog-s-level-1-v3.html") Каталог (услуги) ур.1 v3
						//- li
						//- 	a(target="_blank" href="catalog-s-level-1-v4.html") Каталог (услуги) ур.1 v4
						//- li
						//- 	a(target="_blank" href="card.html") Карточка товара
						//- li
						//- 	a(target="_blank" href="faq.html") Вопрос - ответ
						//- li
						//- 	a(target="_blank" href="stoke-1.html") Акции v1
						//- li
						//- 	a(target="_blank" href="stoke-2.html") Акции v2
						//- li
						//- 	a(target="_blank" href="stoke-3.html") Акции v3
						//- li
						//- 	a(target="_blank" href="stoke-4.html") Акции v4
						//- li
						//- 	a(target="_blank" href="stoke-5.html") Акции v5
						//- li
						//- 	a(target="_blank" href="stoke-6.html") Акции v6
						//- li
						//- 	a(target="_blank" href="stoke-7.html") Акции v7
						//- li
						//- 	a(target="_blank" href="stoke-8.html") Акции v8
						//- li
						//- 	a(target="_blank" href="stoke-9.html") Акции v9
						//- li
						//- 	a(target="_blank" href="stoke-one.html") Страница одной акции
						//- li
						//- 	a(target="_blank" href="standart-page.html") Типовая страница
						//- li
						//- 	a(target="_blank" href="news-1.html") Новости v1
						//- li
						//- 	a(target="_blank" href="news-2.html") Новости v2
						//- li
						//- 	a(target="_blank" href="news-3.html") Новости v3
						//- li
						//- 	a(target="_blank" href="news-4.html") Новости v4
						//- li
						//- 	a(target="_blank" href="news-5.html") Новости v5
						//- li
						//- 	a(target="_blank" href="news-6.html") Новости v6
						//- li
						//- 	a(target="_blank" href="news-7.html") Новости v7
						//- li
						//- 	a(target="_blank" href="news-8.html") Новости v8
						//- li
						//- 	a(target="_blank" href="news-9.html") Новости v9
						//- li
						//- 	a(target="_blank" href="testemonials-1.html") Отзывы v1
						//- li
						//- 	a(target="_blank" href="testemonials-2.html") Отзывы v2
						//- li
						//- 	a(target="_blank" href="testemonials-3.html") Отзывы v3
						//- li
						//- 	a(target="_blank" href="testemonials-4.html") Отзывы v4
						//- li
						//- 	a(target="_blank" href="gallery-1.html") Фотогалерея v1
						//- li
						//- 	a(target="_blank" href="gallery-2.html") Фотогалерея v2
						//- li
						//- 	a(target="_blank" href="gallery-3.html") Фотогалерея v3
						//- li
						//- 	a(target="_blank" href="contacts-1.html") Контакты v1
						//- li
						//- 	a(target="_blank" href="contacts-2.html") Контакты v2
						//- li
						//- 	a(target="_blank" href="contacts-3.html") Контакты v3
						//- li
						//- 	a(target="_blank" href="contacts-4.html") Контакты v4
						//- li
						//- 	a(target="_blank" href="contacts-5.html") Контакты v5
						//- li
						//- 	a(target="_blank" href="contacts-6.html") Контакты v6
						//- li
						//- 	a(target="_blank" href="contacts-7.html") Контакты v7
						//- li
						//- 	a(target="_blank" href="forms.html") Формы
						//- li
						//- 	a(target="_blank" href="cart-1.html") Корзина
						//- li
						//- 	a(target="_blank" href="order-make.html") Оформление заказа
