<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная v1
		include inc/head.pug
		include inc/css.pug
	body.main
		.mobile-menu
		#page-wr
			include inc/header.pug
			#content
					
				.main-slider__cont
					.main-slider-arrow
						.wrapper

					.main-slider
						- for (var i = 0; i < 2; i++)
							.main-slider__slide
								picture
									source(srcset="img/photos/new-main-slider-truba.jpg" media="screen and (min-width: 481px)" data-main="data-main")
									source(srcset="img/photos/new-main-slider-truba-mobile.jpg" media="screen and (max-width: 480px)")
									img
								.main-slider__slide-title-cont
									.wrapper
										.slider-info
											.main-slider__slide-title Труба стальная<br> с завода
											
				.about
					.wrapper 
						.about-cont
							.about-info
								.about-info__title.title 
									span О компании
								.about-info__text
									.text-page 
										p В целях сокращения расходов производственников и покупателей наша компания на протяжении могих лет производит внедрение лежалого трубного проката и восстановленных труб путём повторной сертификации, внедрением специальных методов паровой обработки Специальные предложение для потребителей свайной продукции. Производство частей водо- паропровдов труб по спец заказам и чертежам заказчика. Проводя гибкую политику взаимозачётов со своими покупателями и поставщиками у нас постоянно в наличии всегда имеется сортовой металлопрокат: лист, уголок, швеллер, арматура.
							.about-imgs
								.about-imgs__list
									a(href="#").about-imgs__item
										figure 
											img(src="img/about-1.png")
										.about-imgs__title Скидки
									a(href="#").about-imgs__item
										figure 
											img(src="img/about-2.png")
										.about-imgs__title Экологичность 
									a(href="#").about-imgs__item
										figure 
											img(src="img/about-3.png")
										.about-imgs__title Доставка
									a(href="#").about-imgs__item
										figure 
											img(src="img/about-4.png")
										.about-imgs__title Используемое оборудование
				.slider.slider-tovar
					.wrapper
						.slider-cont
							.title 
								span Наши товары
								a(href="#").btn.btn--border Трубный калькулятор
								a(href="#").btn Перейти в каталог
								.slider-arrow
							.slider__block
								.slider__block-list
									a(href="#").slider-block__item
										figure.slider-block__item-img
											img(src="img/photos/img-slide-4-1.jpg")
											.ico-sale Sale
										.slider-block__item-info 
											.slider-block__info-title Труба стальная
											.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
											.slider-block__info-price 23 700 Р
											.slider-block__info-price--sale 21 700 Р
											.slider-block__info-btn.ico-cart
									a(href="#").slider-block__item
										figure.slider-block__item-img
											img(src="img/photos/img-slide-4-1.jpg")
											.ico-sale Sale
										.slider-block__item-info 
											.slider-block__info-title Труба стальная
											.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
											.slider-block__info-price 23 700 Р
											.slider-block__info-price--sale 21 700 Р
											.slider-block__info-btn.ico-cart
									a(href="#").slider-block__item
										figure.slider-block__item-img
											img(src="img/photos/img-slide-4-1.jpg")
											.ico-sale Sale
										.slider-block__item-info 
											.slider-block__info-title Труба стальная
											.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
											.slider-block__info-price 23 700 Р
											.slider-block__info-price--sale 21 700 Р
											.slider-block__info-btn.ico-cart
									a(href="#").slider-block__item
										figure.slider-block__item-img
											img(src="img/photos/img-slide-4-1.jpg")
											.ico-sale Sale
										.slider-block__item-info 
											.slider-block__info-title Труба стальная
											.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
											.slider-block__info-price 23 700 Р
											.slider-block__info-price--sale 21 700 Р
											.slider-block__info-btn.ico-cart
									a(href="#").slider-block__item
										figure.slider-block__item-img
											img(src="img/photos/img-slide-4-1.jpg")
											.ico-sale Sale
										.slider-block__item-info 
											.slider-block__info-title Труба стальная
											.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
											.slider-block__info-price 23 700 Р
											.slider-block__info-price--sale 21 700 Р
											.slider-block__info-btn.ico-cart
											
				.slider.slider-one
					.wrapper
						.slider-cont
							.title 
								span Наши услуги 
								.slider-arrow
							.slider-wr
								.slider-nav
									ul.slider-nav__list
										li.slider-nav__item
											.slider-nav__link
												input(type="radio" name="filter" id='1' value="1")
												label(for="1") Резка
										li.slider-nav__item
											.slider-nav__link 
												input(type="radio" name="filter" id='2' value="2")
												label(for="2") Хранение
										li.slider-nav__item
											.slider-nav__link 
												input(type="radio" name="filter" id='3' value="3")
												label(for="3") Доставка
										
										.btn Все услуги
										
								.slider-block__cont
									.slider-block
										.slider-block__slide(data-id="1")
											figure.slider-block__slide-img
												img(src="img/photos/slide-"+(i+1)+".jpg", alt="")
											.slider-block__info
												.slider-block__info__title Резка
												.slider-block__info__text Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских.
												a(href="#").btn Подробнее
										.slider-block__slide(data-id="2")
											figure.slider-block__slide-img
												img(src="img/photos/slide-1.jpg", alt="")
											.slider-block__info
												.slider-block__info__title Хранение
												.slider-block__info__text Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских.
												a(href="#").btn Подробнее
										.slider-block__slide(data-id="1")
											figure.slider-block__slide-img
												img(src="img/photos/slide-1.jpg", alt="")
											.slider-block__info
												.slider-block__info__title Резка
												.slider-block__info__text Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских.
												a(href="#").btn Подробнее
										.slider-block__slide(data-id="3")
											figure.slider-block__slide-img
												img(src="img/photos/slide-1.jpg", alt="")
											.slider-block__info
												.slider-block__info__title Доставка
												.slider-block__info__text Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских. Прямые поставки труб c прокатов заводов группы ЧТПЗ по ценам и срокам ниже заводских.
												a(href="#").btn Подробнее					
				.slider.slider-four-photo
					.wrapper
						.slider-cont
							.title 
								span Фотогалерея
								a(href="#").btn Смотреть все фото
								.slider-arrow
							.slider__block
								.slider__block-list
									a(href="#").slider__block-item
										figure.slider__block-img
											img(src="img/photos/gallery-1.jpg")
											.ico-info Каркасные дома
										.slider__block-info
											.slider-info-title Беседки
											.slider-info-text Проектируем беседки по индивидуальным заказам и строим по готовым чертежам
											.slider-block__info-btn
									a(href="#").slider__block-item
										figure.slider__block-img
											img(src="img/photos/gallery-2.jpg")
											.ico-info Беседки

										.slider__block-info
											.slider-info-title Беседки
											.slider-info-text Проектируем беседки по индивидуальным заказам и строим по готовым чертежам
											.slider-block__info-btn
									a(href="#").slider__block-item
										figure.slider__block-img
											img(src="img/photos/gallery-3.jpg")
											.ico-info Бани

										.slider__block-info
											.slider-info-title Беседки
											.slider-info-text Проектируем беседки по индивидуальным заказам и строим по готовым чертежам
											.slider-block__info-btn
									a(href="#").slider__block-item
										figure.slider__block-img
											img(src="img/photos/gallery-1.jpg")

										.slider__block-info
											.slider-info-title Беседки
											.slider-info-text Проектируем беседки по индивидуальным заказам и строим по готовым чертежам
											.slider-block__info-btn
									a(href="#").slider__block-item
										figure.slider__block-img
											img(src="img/photos/gallery-2.jpg")

										.slider__block-info
											.slider-info-title Беседки
											.slider-info-text Проектируем беседки по индивидуальным заказам и строим по готовым чертежам
											.slider-block__info-btn
				.slider.slider-row-two
					.wrapper
						.slider-cont
							.title 
								span Наши товары
								.slider-arrow
							.slider-wr
								.slider-nav
									ul.slider-nav__list
										li.slider-nav__item(id="tab1")
											.slider-nav__link
												input(type="radio" name="filter1" id='25' value="1")
												label(for="25") Каркасные дома
										li.slider-nav__item
											.slider-nav__link 
												input(type="radio" name="filter1" id='26' value="2")
												label(for="26") Дома из пеноблоков
										li.slider-nav__item
											.slider-nav__link 
												input(type="radio" name="filter1" id='27' value="3")
												label(for="27") Беседки
										li.slider-nav__item
											.slider-nav__link 
												input(type="radio" name="filter1" id='28' value="4")
												label(for="28") Бани
										li.slider-nav__item
											.slider-nav__link 
												.reset-filter Сбросить фильтр
												
										.btn Перейти в каталог

								.slider-block__cont

									.slider-block
										a(href="#").slider-block__item(data-id="1")
											figure.slider-block__item-img
												img(src="img/photos/img-slide-1.jpg")
												.ico-sale Sale
											.slider-block__item-info 
												.slider-block__info-title ЖК «Подсолнухи» 1
												.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
												.slider-block__info-price 23 700 Р
												.slider-block__info-price--sale 23 700 Р
												.slider-block__info-btn
										a(href="#").slider-block__item(data-id="1")
											figure.slider-block__item-img
												img(src="img/photos/img-slide-1.jpg")
												.ico-sale Sale
											.slider-block__item-info 
												.slider-block__info-title ЖК «Подсолнухи» 2
												.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
												.slider-block__info-price 23 700 Р
												.slider-block__info-price--sale 23 700 Р
												.slider-block__info-btn

										a(href="#").slider-block__item(data-id="2")
											figure.slider-block__item-img
												img(src="img/photos/img-slide-1.jpg")
												.ico-sale Sale
											.slider-block__item-info 
												.slider-block__info-title ЖК «Подсолнухи» 3
												.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
												.slider-block__info-price 23 700 Р
												.slider-block__info-price--sale 23 700 Р
												.slider-block__info-btn
										a(href="#").slider-block__item(data-id="4")
											figure.slider-block__item-img
												img(src="img/photos/img-slide-1.jpg")
												.ico-sale Sale
											.slider-block__item-info 
												.slider-block__info-title ЖК «Подсолнухи» 4
												.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
												.slider-block__info-price 23 700 Р
												.slider-block__info-price--sale 23 700 Р
												.slider-block__info-btn
										a(href="#").slider-block__item(data-id="3")
											figure.slider-block__item-img
												img(src="img/photos/img-slide-1.jpg")
												.ico-sale Sale
											.slider-block__item-info 
												.slider-block__info-title ЖК «Подсолнухи»
												.slider-block__info-dop Кресло, Гранн, Бумстад белый/дерево
												.slider-block__info-price 23 700 Р
												.slider-block__info-price--sale 23 700 Р
												.slider-block__info-btn

													
									.slider-block__btn
										a(href="#").btn Все товары
				.slider.slider-two
					.wrapper
						.slider-cont
							.title 
								span Акции
								a(href="#").btn Все акции
								.slider-arrow
							.slider__block
								.slider__block-list
									- for (var i = 0; i < 9; i++)
										a(href="#").stoke__item
											figure.stoke__item-img
												img(src="img/photos/slider-two-img.jpg")
												.ico-sale Sale
											.stoke__item-info 
												.stoke__item-info-title  Специальное предложение на оконные системы
												.stoke__item-info-dop Бухгалтерский баланс — одна из основных форм бухгалтерской отчётности. В соответствии с...
												.date.date--orange до 01.06.2018
				.slider.slider-four-no-photo
					.wrapper
						.slider-cont
							.title 
								span Новости
								a(href="#").btn Все новости
								.slider-arrow
							.slider__block
								.slider__block-list
									a(href="#").slider-block__item
										.news__item
											.news__item-title Молодые воронежские художники вернулись с наградами
											.news__item-text Бухгалтерский баланс — одна из основных форм бухгалтерской отчётности. В соответствии с...
											.news__item-data 01.06.2018
										
									a(href="#").slider-block__item
										.news__item
											.news__item-title Срыв контракта предполагает штрафные санкции
											.news__item-text Бухгалтерский баланс — одна из основных форм бухгалтерской отчётности. В соответствии с...
											.news__item-data 01.06.2018
									a(href="#").slider-block__item
										.news__item
											.news__item-title Facebook в IV квартале увеличила прибыль в 8 раз
											.news__item-text Бухгалтерский баланс — одна из основных форм бухгалтерской отчётности. В соответствии с...
											.news__item-data 01.06.2018
									a(href="#").slider-block__item
										.news__item
											.news__item-title Срыв контракта предполагает штрафные санкции
											.news__item-text Бухгалтерский баланс — одна из основных форм бухгалтерской отчётности. В соответствии с...
											.news__item-data 01.06.2018
									a(href="#").slider-block__item
										.news__item
											.news__item-title Срыв контракта предполагает штрафные санкции
											.news__item-text Бухгалтерский баланс — одна из основных форм бухгалтерской отчётности. В соответствии с...
											.news__item-data 01.06.2018
				.slider.slider-testemonials
					.wrapper
						.slider-cont
							.title 
								span Отзывы
								a(href="#").btn Все отзывы
								.slider-arrow
							.slider__block
								.slider__block-list
									a(href="#").testemonials__item
										.testemonials__item-top
											.testemonials__item-photo
												img(src="img/ico-avatar.svg")
											div
												.testemonials__item-title Константин Иванов

												.testemonials__item-subtitle директор, ООО "Константа"
											
											.testemonials__item-date 08.05.2018

										.testemonials__item-middle
											.testemonials__item-text Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок. Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок...
										.testemonials__item-files
											.testemonials__item-file.ico-jpg
												.file-name Photo 1 (снаружи дома)
												.file-weight 17.6 Кб
											.testemonials__item-file.ico-jpg
												.file-name Photo 2 (изнутри дома)
												.file-weight 17.6 Кб
										.testemonials__item-btn
											.testemonials-btn
											.testemonials-file
									a(href="#").testemonials__item
										.testemonials__item-top
											div
												.testemonials__item-title Константин Иванов

												.testemonials__item-subtitle директор, ООО "Константа"
												
											.testemonials__item-date 08.05.2018

										.testemonials__item-middle
											.testemonials__item-text Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок. Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок...
										.testemonials__item-files
											.testemonials__item-file.ico-jpg
												.file-name Photo 1 (снаружи дома)
												.file-weight 17.6 Кб
											.testemonials__item-file.ico-jpg
												.file-name Photo 2 (изнутри дома)
												.file-weight 17.6 Кб
										.testemonials__item-btn
											.testemonials-btn
											.testemonials-file
									a(href="#").testemonials__item
										.testemonials__item-top
											div
												.testemonials__item-title Константин Иванов

												.testemonials__item-subtitle директор, ООО "Константа"
											div 
												.testemonials__item-date 08.05.2018

										.testemonials__item-middle
											.testemonials__item-text Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок. Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок...
										.testemonials__item-files
											.testemonials__item-file.ico-jpg
												.file-name Photo 1 (снаружи дома)
												.file-weight 17.6 Кб
											.testemonials__item-file.ico-jpg
												.file-name Photo 2 (изнутри дома)
												.file-weight 17.6 Кб
										.testemonials__item-btn
											.testemonials-btn
											.testemonials-file
				.slider.slider-partners
					.wrapper
						.slider-cont
							.title 
								span Партнеры
								.slider-arrow
							.slider__block
								.slider__block-list
									a(href="#").partners__item
										img(src="img/photos/partner-2.png")
									a(href="#").partners__item
										img(src="img/photos/partner-3.png")
									a(href="#").partners__item
										img(src="img/photos/partner-4.png")
									a(href="#").partners__item
										img(src="img/photos/partner-5.png")
									a(href="#").partners__item
										img(src="img/photos/partner-6.png")
									a(href="#").partners__item
										img(src="img/photos/partner-1.png")
									a(href="#").partners__item
										img(src="img/photos/partner-3.png")


			include inc/footer.pug
		include inc/scripts.pug
