<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Новости v2
		include inc/head.pug
		include inc/css.pug
	body.inner
		.mobile-menu
		#page-wr
			include inc/header.pug
			#content

				.cart-cont
					a(href="#").cart-small-cont
						.cart-small(data-count="2")

				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#" title="Главная") Главная
									span.bread-crumbs__this(href="#") Новости
							.title-block__title
								h1 Новости

				.wrapper
					.news__cont
						.news-col-2
							.news__list
								- for (var i = 0; i < 9; i++)
									a(href="#").news__item
										figure.news__item-img
											img(src="img/photos/slider-two-img.jpg")
											.ico-sale Sale
										.news__item-info
											.date.date--orange до 01.06.2018
											.news__item-info-title  Специальное предложение на оконные системы
											.news__item-info-dop Бухгалтерский баланс — одна из основных форм ...
											.btn Читать


							include inc/paginator.pug





			include inc/footer.pug
		include inc/scripts.pug
