<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Отзывы v2
		include inc/head.pug
		include inc/css.pug
	body.inner
		.mobile-menu
		#page-wr
			include inc/header.pug
			#content

				.cart-cont
					a(href="#").cart-small-cont
						.cart-small(data-count="2")

				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#" title="Главная") Главная
									span.bread-crumbs__this(href="#") Отзывы
							.title-block__title
								h1 Отзывы

				.wrapper
					.testemonials__cont
						.testemonials-v2
							.testemonials__list
								- for (var i = 0; i < 9; i++)
									a(href="#").testemonials__item
										.testemonials__item-top
											.testemonials__item-photo
												img(src="img/ico-avatar.svg")
											div
												.testemonials__item-title Константин Иванов

												.testemonials__item-subtitle директор, ООО "Константа"
											
											.testemonials__item-date 08.05.2018

										.testemonials__item-middle
											.testemonials__item-text Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок. Уютный дом начинается с проекта. Мы занимаемся проектированием зданий с 1998 года и внедрили лучшие находки в наши типовые проекты коттеджей, таунхаусов, бань и беседок...
										.testemonials__item-files
											.testemonials__item-file.ico-jpg
												.file-name Photo 1 (снаружи дома)
												.file-weight 17.6 Кб
											.testemonials__item-file.ico-jpg
												.file-name Photo 2 (изнутри дома)
												.file-weight 17.6 Кб
										.testemonials__item-btn
											.btn Развернуть
											.testemonials-file
									


							include inc/paginator.pug
				.question-ask__cont
					.wrapper
						.question-ask
							.forms
								form
									.forms__title Задать вопрос
									.forms__text Наш менеджер свяжется с Вами в ближайшее время
									.forms-wrap
										.forms__input-cont
											input.forms__input(type="text" required="" placeholder="")
											label.forms__label Ваше имя
										.forms__input-cont
											input.forms__input(type="text" required="" placeholder="")
											label.forms__label Ваше e-mail
										.forms__input-cont.forms__input-cont--file
											input(type="file" id="file-1").forms__input.forms__input--file
											input(readonly="" type="text").forms__input.forms__input--file-support
											label(for="file-1").forms__label.forms__label--file Прикрепить файл
											.add-input
											span.input-del(title="Удалить")
										.forms__input-cont.forms__input-cont--textarea
											textarea.forms__input.forms__input--textarea(required="")
											label.forms__label Ваше сообщение
									.forms-bot
										.forms__checkbox
											input(type="checkbox" id="checkbox-1").forms__checkbox-input
											label(for="checkbox-1").forms__checkbox-label 
												span Я согласен на <a href="">обработку персональных данных</a>
										.forms__submit-cont
											input(type="submit" value="Отправить").forms__submit
										
										
										
								
							.question.wow
								.question-title Не нашли ответа<br> на свой вопрос?
								.question-text Свяжитесь с нами, и мы предоставим необходимую информацию.
								a(href="#").btn.btn--green Задать вопрос





			include inc/footer.pug
		include inc/scripts.pug
