.slider-four-no-photo .slider {
		display: flex ;
}

			
		.slider-four-no-photo .slider-info {
			text-align: center;
}

			
		.slider-four-no-photo .slider figure {
			flex: none;
			margin-right: 45px;
}

			
		.slider-four-no-photo .slider-nav {
			position: relative;
			width: 300px;
			margin-right: 90px;
			flex: none;
}

			
		.slider-four-no-photo .slider-nav:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: 100%;
				max-height: 390px;
				background: var(--border-color);
				background: var(--border-color);
}

			
		.slider-four-no-photo .slider-nav__item:not(:first-child) {
					margin-top: 35px;
}

			
		.slider-four-no-photo .slider-nav__link {
				position: relative;
				cursor: pointer;
				transition: text-indent .3s ease;
}

			
		.slider-four-no-photo .slider-nav__link:before {
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					width: 35px;
					height: 1px;
					background: var(--main-color);
					background: var(--main-color);
					-webkit-transform-origin: left;
					        transform-origin: left;
					-webkit-transform: scaleX(0);
					        transform: scaleX(0);
					transition: -webkit-transform .3s ease;
					transition: transform .3s ease;
					transition: transform .3s ease, -webkit-transform .3s ease;
}

			
		.slider-four-no-photo .slider-nav__link.active {
					text-indent: 50px;
					color: var(--main-color);
					color: var(--main-color);
}

			
		.slider-four-no-photo .slider-nav__link.active:before {
						-webkit-transform: scaleX(1);
						        transform: scaleX(1);
}

			
		.slider-four-no-photo .slider-nav .btn {
				margin-top: 45px;
}

			
		.slider-four-no-photo .slider-block__info {
				text-align: left;
				max-width: 405px;
}

			
		.slider-four-no-photo .slider-block__info__title {
					font-size: 1.4375rem;
					color: var(--main-color);
					color: var(--main-color);
					margin-bottom: 12px;
}

			
		.slider-four-no-photo .slider-block__info__text {
					margin-bottom: 35px;
					line-height: 1.5;
}
	.slider-four-no-photo .title {
		position: relative;
		font-size: 1.5625rem;
		font-weight: 700;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
}
	.slider-four-no-photo .title span {
			position: relative;
			padding-left: 24px;
			line-height: 1;
}
	.slider-four-no-photo .title span:before {
				content: '';
				position: absolute;
				left: 0;
				top: calc(50% - 9px);
				height: 18px;
				width: 3px;
				background: var(--main-color);
				background: var(--main-color);
				display: block;
}
	.slider-four-no-photo .title .btn {
			font-size: 1rem;
			margin-left: auto;
			margin-right: 70px;
}
	.slider-four-no-photo .title .slick-arrow {
				position: relative;
				
				width: 40px;
				
				height: 40px;
				border-radius: 50% ;
				font-size: 0 ;
				background: var(--second-color);
				background: var(--second-color);
				border: 0;
				transition: background .3s ease;
}
	.slider-four-no-photo .title .slick-arrow:before {
					content: '';
					display: block;
					width: 8px;
					height: 8px;
					position: absolute;
					top: calc(50% - 4px);
					left: calc(50% - 4px);
					border-top: 1px solid #737374;
					border-right: 1px solid #737374;
					-webkit-transform: rotate(45deg);
					        transform: rotate(45deg);
					transition: border-color .3s ease;
}
	.slider-four-no-photo .title .slick-arrow:hover {
					background: var(--main-color);
					background: var(--main-color);
}
	.slider-four-no-photo .title .slick-arrow:hover:before {
						border-top: 1px solid #fff;
						border-right: 1px solid #fff;
}
	.slider-four-no-photo .title .slick-next {
				margin-left: 18px;
}
	.slider-four-no-photo .title .slick-prev {
				-webkit-transform: rotate(-180deg);
				        transform: rotate(-180deg);
}
	.slider-four-no-photo .slider-block__btn {
			display: flex;
			justify-content: center;
			margin-top: 53px;
}
	.slider-four-no-photo .slider-block .slick-list {
				margin: 0 -15px;
}
	.slider-four-no-photo .slider-block .slick-track {
				display: flex;
}
	.slider-four-no-photo .slider-block__item {
			display: flex  !important;
			flex: 1 1 auto;
			text-decoration: none ;
			color: #000;
			transition: box-shadow .5s ease;
			border: 1px solid #f6f7fa;
}
	.slider-four-no-photo .slider-block__item:nth-child(2) {
				margin-top: 27px;
}
	.slider-four-no-photo .slider-block__item:hover {
				box-shadow: 0px 0px 51.33px 7.67px rgba(37,41,77, 0.05);
}
	.slider-four-no-photo .slider-block__item-img {
				position: relative;
				margin: 0 !important;
				flex: none;
}
	.slider-four-no-photo .slider-block__item-info {
				position: relative;
				display: flex;
				flex-direction: column;
				flex: 1 1 auto;
				padding: 27px 33px 40px;
				align-items: flex-start;
}
	.slider-four-no-photo .slider-block__info-title {
				font-size: 1.125rem;
				margin-bottom: 13px;
}
	.slider-four-no-photo .slider-block__info-dop {
				color: #bdc2cf;
				font-size: 0.875rem;
}
	.slider-four-no-photo .slider-block__info-price {
				font-size: 1.5rem;
				margin-top: 21px;
}
	.slider-four-no-photo .slider-block__info-price--sale {
					position: relative;
					font-size: 0.875rem;
					color: #b7b7b7;
					margin-top: 5px;
					padding-left: 5px;
					display: flex ;
					justify-content: flex-start;
}
	.slider-four-no-photo .slider-block__info-price--sale:before {
						content: '';
						position: absolute;
						display: block;
						top: 50%;
						left: 0;
						width: 100%;
						height: 1px;
						background: #b7b7b7;
}
	.slider-four-no-photo .slider-block__info-btn {
				display: block;
				right: 30px;
				bottom: 30px;
				width: 43px;
				height: 43px;
				border-radius: 50%;
				background: url('../img/ico-arrow.png') no-repeat center, #f8f9fb;
				position: absolute;
				right: 1.4rem;
				bottom: 1.4rem;
}


/*# sourceMappingURL=slider-three-no-photo.css.map */
